AddDefaultCharset UTF-8

Options +FollowSymlinks
RewriteEngine on

RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

DirectorySlash Off

RewriteRule ^uvod([/]?)$ /~fortpet2/guideme/ [L]
RewriteRule ^o-projektu([/]?)$ /~fortpet2/guideme/index.php?p=2 [L]
RewriteRule ^stahnout([/]?)$ /~fortpet2/guideme/index.php?p=3 [L]
RewriteRule ^mapy([/]?)$ /~fortpet2/guideme/index.php?p=4 [L]
RewriteRule ^dokumentace([/]?)$ /~fortpet2/guideme/index.php?p=5 [L]
RewriteRule ^o-nas([/]?)$ /~fortpet2/guideme/index.php?p=6 [L]
RewriteRule ^prava([/]?)$ /~fortpet2/guideme/index.php?p=7 [L]
RewriteRule ^kontakt([/]?)$ /~fortpet2/guideme/index.php?p=8 [L]

RewriteRule ^pridat-mapu([/]?)$ /~fortpet2/guideme/index.php?p=9 [L]
RewriteRule ^sprava-map([/]?)$ /~fortpet2/guideme/index.php?p=10 [L]
RewriteRule ^upravit-mapu([/]?)$ /~fortpet2/guideme/index.php?p=11 [L]
RewriteRule ^profil([/]?)$ /~fortpet2/guideme/index.php?p=12 [L]
RewriteRule ^prihlasit([/]?)$ /~fortpet2/guideme/index.php?p=13 [L]
